html,
body {
  margin: 0;
  padding: 0;
  font-family: Mojave;
  min-width: 360px;
}

h1 {
  margin: .5em 0;
  font-size: 2.4em;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 40px;
  background-color: #121f44;
  color: white;
}

.about div {
  flex-grow: 1;
}

.blue {
  background-color: #2e4482;
  color: white;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  padding: 5px 5px;
  font-size: 20px;
  border-radius: 5px;
  opacity: .8;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
}

.button.disabled,
.button.disabled:hover {
  opacity: .5;
  cursor: default;
}

.button a {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.header {
  display: flex;
  height: 60px;
  padding: 23px;
  justify-content: space-between;
}

.header a {
  height: 100%;
}

.hours-entry {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.hours-times {
  text-align: right;
}

.left {
  justify-content: left;
}

.link-text {
  text-decoration: none;
  color: #2e4482;
  font-weight: bold;
}

.link-text:hover {
  text-decoration: underline;
}

.logo {
  height: 100%;
}

.logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.menu {
  display: none;
  flex-direction: row;
}

.menu .item {
  padding: 0 5px;
  font-size: 1.1em;
}

.menu .item a {
  color: inherit;
  text-decoration: none;
}

.middle {
  align-content: center;
}

.night {
  height: 80vh;
  background-image: url("../images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}

.row {
  flex-direction: row;
}

.slogan {
  display: flex;
  height: calc(100% - 106px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.slogan .item {
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 160px;
}

.social a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin-right: 20px;
}

.text-blue {
  color: lightslategray;
}

.text-white {
  color: white;
}

@media (min-width: 768px) {
  h1 {
    margin: .5em 0;
    font-size: 2.4em;
  }

  p {
    font-size: 1.2em;
    line-height: 2em;
  }

  .panel {
    margin: 0 20%;
    padding: 50px 40px;
  }

  .about {
    flex-direction: row;
  }

  .header {
    height: 100px;
    padding: 23px;
  }

  .menu {
    display: flex;
  }

  .menu .item {
    font-size: 1.5em;
    padding: 0 10px;
  }

  .menu .item a:hover {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
  }

  .menu .item.selected {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }

  .menu .item.selected a:hover {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    cursor: default;
  }

  .slogan {
    height: calc(100% - 146px);
    flex-direction: row;
    font-size: 3em;
  }

  .slogan .item {
    width: auto;
    margin: 5px;
  }
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
}

@font-face {
  font-family: Mojave;
  src: url("../fonts/Mohave-Regular.otf") format("opentype");
}