.events-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    min-height: 250px;
    border: solid 1px #121f44;
}

.event-accent {
    height: 20px;
    background-color: #121F44;
}

.event-body {
    flex: 1;
}

.event-body p {
    margin: 0;
    padding: 5px 10px;
}

.event-date {
    font-size: 1.25em;
    text-align: center;
    line-height: 40px;
}

.event-image {
    height: 50%;
    width: 100%;
}

.event-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.event-title {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    background-color: #121F44;
    color: white;
}

.event-list {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.event-list>.event {
    margin-bottom: 20px;
}

.event-list:last-child {
    margin-bottom: 0;
}

@media (min-width: 1400px) {
    .event {
        display: flex;
        min-width: 400px;
        min-height: 500px;
    }

    .event-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .event-list>.event {
        margin-left: 40px;
    }

    .event-list:last-child {
        margin-left: 0;
    }

    .events-panel {
        padding: 40px 80px;
    }
}