.menu-header {
  height: 80vh;
  background-image: url("../images/menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.menu-content {
  width: 100%;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menu-wrapper {
  position: relative;
}

.menu-wrapper img {
  margin: 0 5%;
  max-width: 90%;
  max-height: 100%;
  pointer-events: initial;
}

@media (min-width: 768px) {
  .menu-panel {
    padding: 20px 40px;
  }

  .menu-wrapper img {
    margin: 0 12.5%;
    max-width: 75%;
    pointer-events: none;
  }
}